@import 'tailwindcss';

@layer components {
  .first-div {
    @apply min-h-screen flex items-center justify-center bg-indigo-400;
  }
  .second-div {
    @apply w-full max-w-sm rounded-xl bg-slate-100 p-6 shadow-lg;
  }
  .head-h1 {
    @apply mb-4 grid place-content-center text-3xl font-semibold;
  }
  .btn-primary {
    @apply rounded-lg bg-indigo-600 px-4 py-2 text-white transition hover:bg-indigo-500 active:scale-95;
  }
  .btn-secondary {
    @apply rounded-lg bg-gray-200 px-4 py-2 text-gray-700 transition hover:bg-gray-300 active:scale-95;
  }

  .btn-danger {
    @apply rounded-lg bg-red-600 px-4 py-2 text-white transition hover:bg-red-500 active:scale-95;
  }
  .btn-reset {
    @apply flex-1 rounded-lg border border-slate-300 px-4 py-2 text-slate-700 transition hover:bg-slate-50 active:scale-95;
  }
  .btn-plus {
    @apply rounded-lg bg-slate-800 px-4 py-2 text-white transition hover:bg-slate-700 active:scale-95;
  }
  .btn-minus {
    @apply rounded-lg bg-slate-200 px-4 py-2 text-slate-700 transition hover:bg-slate-300 active:scale-95;
  }
}
